:root{
    --mainbg:#000F26;
    --pointfont:#FFE600;
    --basicfont:#fff;
    --subfont:#FFF48E;
    --titlefont:#fff;
    /* 토굴배경 */
    --btnbg:#0e1f39;
    --btnbd:#02235497;
    
    /* 이미지 */
    --mainlogo_m: url(../imgs/moblie_logo_dark.svg); /*모바일로고*/
    --mainlogo_p: url(../imgs/logo_dark.svg); /*큰 로고*/
    --menu_btn: url(../imgs/ic_menu_dark.svg); /*메뉴버튼*/
    --modechange: url(../imgs/ic_sun.png);
    --modechange_a: url(../imgs/ic_sun_a.png);

    /* 삼각형이미지 */
    --mainqrs: url(../imgs/ic_main_qrs_dark.svg);


}

:root.light{
    --mainbg:#fff;
    --pointfont:#AB00FF;
    --basicfont:#000F26;
    --subfont:#CA97F6;
    --titlefont:#7E56A5; /*로고, 제목*/
    /* 토굴배경 */
    --btnbg:#eeddfc;
    --btnbd:#7d56a580;


    /* 이미지 */
    --mainlogo_m: url(../imgs/mobile_logo_light.svg); /*모바일로고*/
    --mainlogo_p: url(../imgs/logo_light.svg); /*큰 로고*/
    --menu_btn: url(../imgs/ic_menu_light.svg); /*메뉴버튼*/
    --modechange: url(../imgs/ic_moon.png);
    --modechange_a: url(../imgs/ic_moon_a.png);

        /* 삼각형이미지 */
        --mainqrs: url(../imgs/ic_main_qrs_light.svg);
}

body{
    background: var(--mainbg);
    color: var(--basicfont);
    font-size: 14px;
}
html{
    min-height: 100vh;
}