/* 모바일 css */
#wrap{
    width: 100%;
    margin: auto;
    position: relative;
}
/* 해더 */
.main_logo a{
    background-image: var(--mainlogo_m);
    width: 30px;
    height: 30px;
    text-indent: -9999px;

    position: absolute;
    top: 38%;
    left: 4%;
    z-index: 100;
}
.burger_bar_btn{
    text-indent: -9999px;
    background-image: var(--menu_btn);
    background-repeat: no-repeat;
    position: absolute;
    top: 52%;
    right: 4%;
    width: 23px;
    height: 21px;

    cursor: pointer;
}
.header{
    width: 100%;
    height: 78px;
    position: fixed;
    z-index: 80;
    background-color: var(--mainbg);
}   
nav{
    display: none;
    position: absolute;
    width: 45%;
    height: 100vh;
    right: 0%;

    background-color: var(--mainbg);
    border-left: 2px solid var(--titlefont);
    color: var(--titlefont);

}
.main_gnb{
    position: relative;
    top: 25%;
}
.main_gnb li{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 34%;

    text-transform: uppercase;
}
.main_gnb li.mode_change button{
    border: 1px solid var(--titlefont);
    border-radius: 22px;
    width: 55%;
    /* height: 40%; */
    margin: auto;
}
.main_gnb li.mode_change .btn{
    text-indent: -9999px;
    background-image: var(--modechange);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 6px auto;
}
.main_gnb li.mode_change button:hover .btn{
    background-image: var(--modechange_a);    
}
.main_gnb li.mode_change button:hover{
    border: 1px solid var(--pointfont);
}



/* 공동섹션 */
section > div{
    padding-top: 100px;
    min-height: 100vh;
    /* height: 900px; */
}
section div:first-child{
    padding-top: 0;
}

/* 메인 홈 */
section #main {
    position: relative;
}
section #main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section #main h2 .tit{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-size: 200%;
    font-family: 'yg-jalnan';
    width: 90%;
    margin: 0 auto;
    position: absolute;
    z-index: 50;
}
section #main h2 .tit .main_tit1 p{
    color: var(--pointfont);
    font-size: 1.3em;
}
section #main h2 .tit .main_tit1{
    color: var(--subfont);
    line-height: 0.6em;
}
section #main h2 .tit .main_tit3{
    margin-left: 30%;
    color: var(--titlefont);
    line-height: 1.3em;
    
}
section #main .main_qr_img{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    top: 24%;
    /* left: 16%; */
    margin: 0 auto;
    text-align: center;
    display: block;
}
section #main .main_qr_img span{
    position: absolute;
    display: block;
    text-align: center;
    width: 80%;
    height: 80%;
    background-image: var(--mainqrs);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}




/* 공통 */
.thetit{
    text-align: center;
    margin: auto ;
    
    width: 100%;
    margin-bottom: 112px;

    z-index: 100;
    position: relative;
    color: var(--titlefont);
}
.point{
    color: var(--pointfont);
}
.thetit p{
    font-family: 'yg-jalnan';
    text-transform: uppercase;
    border-bottom: 1px solid var(--titlefont);
    display: inline-block;
    padding-bottom: 4px;
}

/* 어바웃미 */

#me .txt1 h3{
    text-align: center;
    margin: auto ;
    font-family: 'yg-jalnan';
    line-height: 1.35;

    font-size: 16px;

}
#me .txt1 h3::after{
    width: 140px;
    height: 1px;
    background-color: var(--basicfont);
    content: '';
    display: block;
    margin: 20px auto;
}
#me .txt1 .txt1_con{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    line-height: 1.35;
}
#me .txt2{
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    text-align: center;

}
#me .txt2 > h3::after{
    width: 100px;
    height: 1px;
    background-color: var(--basicfont);
    content: '';
    display: block;
    margin: 20px auto;
}
#me .txt2 > h3{
    font-family: yg-jalnan;
    font-size: 16px;
}
#me .txt2 ul li h3{
    font-family: yg-jalnan;
    padding: 20px 0;
    color: var(--pointfont);
}
#me .txt2 ul li p{
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 1.35;
}
#me .resume{
    margin: 0 auto;
    margin-top:100px;
    text-align: center;
}
#me .resume button{
    border: 2px solid var(--titlefont);
    padding: 10px 20px;
    border-radius: 11px;
    color: var(--titlefont);
}
/* 스킬 */
#skill{
    margin-top: 100px;
}
#skill .ic_skills{
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.65;
}
#skill .ic_skills span{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-image: url(../imgs/ic_skill_m.png);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 70px;
}
/* 프로젝트 */
#project{
    margin-top: 0px;
    padding-top: 0px;
}
/* 콘택 */
#contact .txt3{
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    width: 80%;
    line-height: 1.35;
}
#contact .txt3 p::after{
    content: "";
    display: block;
    width: 4px;
    height: 1px;
    background-color:var(--titlefont);
    margin: 30px auto;
}
#contact .txt3 p:nth-child(2):after{
    display: none;
}
#contact .txt3 span{
    background-image: var(--mainlogo_p);
    width: 120px;
    height: 78px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;


    margin: 0 auto;
}
/* 푸터 */
footer{
    display:none;
}

/* 테블릿 */
@media screen and (min-width : 768px) {
    
}